<% include header.ejs %>
<% include password.ejs %>
<% include navbar.ejs %>

<div class="container">

<a href="/storeCase">Store a case</a><br>
<a href="/setCurrentCase">Change the Current Case</a> (Automatically makes current case the past case)<br>
<a href="/gradeAnswers">Grade Answers</a><br>
<a href="/storeSolvers">Enter in the first solvers and superb explanations</a>

</div>

<% include footer.ejs %>