<% include header.ejs %>
<% include navbar.ejs %>

<div class="container">

<form action="/setViewCaseAction" method="POST">
	<label class="control-label" for = "Date">
	</label>
	<input type="hidden" name="Date" value=<%- Date %>>	
	<button type="submit">Preview/Edit Your Case</button>
</form>


</div>

<% include footer.ejs %>