<% include header.ejs %>
<% include password.ejs %>
<% include navbar.ejs %>

<div class="container">

<form action="/<%=community%>/gradeAnswers2" method="POST">

    <label class="control-label" for="Date">
      Please put in the debut date of the case that you would like to grade (if calendar doesn't display in your browser, enter date in the format "yyyy-mm-dd")
    </label>
	<input type="date" name="Date"><br>	

	<input class="btn" type="submit">

</form>

</div>

<% include footer.ejs %>