<div class="container">

<form action="/<%=community%>/storeAnswerAction" method="POST">

	<label class="control-label" for="Username">
		Username 
		<span style="color:#C0C0C0">(Please be consistent (usernames are CASE SENSITIVE!)!)</span>
	</label>
	<input type="text" name="Username" required><br>

	<label class="control-label" for="Email">
		Email
		<span style="color:#C0C0C0">(For confirmation purposes. Info will be kept private)</span>
	</label>
	<input type="text" name="Email" required><br>

<% if (community == 'UCSFMS1s') { %>
	<label class="control-label" for="DiagnosisAnswer">
	</label>
	<input type="hidden" name="DiagnosisAnswer" value=" ">
    <% }
    else { %>
	<label class="control-label" for="DiagnosisAnswer">
		What is the most likely answer?
		<span style="color:#C0C0C0">(Please specify one answer only.)</span>
	</label>
	<input type="text" name="DiagnosisAnswer"><br>
          <% } %>


<% if (community == 'UCSFMS1s') { %>
	<label class="control-label" for="Explanation">
		Answers and Explanations 
		<span style="color:#C0C0C0">(We'll pick the best explanations and post them for each week)</span>
	</label>
	<textarea name="Explanation"></textarea><br>
    <% }
    else { %>
	<label class="control-label" for="Explanation">
		Explanation 
		<span style="color:#C0C0C0">(We'll pick the best explanations and post them for each week)</span>
	</label>
	<textarea name="Explanation"></textarea><br>
          <% } %>

	<label class="control-label" for = "Date">
	</label>
	<input type="hidden" name="Date" value=<%- Case.Date %>>
	
	<input class="btn" type="submit">


</form>
</div>
