<div class="container">

<form action="/<%=community%>/storeAnswerAction" method="POST">

	<label class="control-label" for="Username">
		Username 
		<span style="color:#C0C0C0">(To be used on leaderboard. Please be consistent (usernames are CASE SENSITIVE!) so we can tally your points!)</span>
	</label>
	<input type="text" name="Username" required><br>

	<label class="control-label" for="Email">
		Email
		<span style="color:#C0C0C0">(For confirmation purposes. Info will be kept private)</span>
	</label>
	<input type="text" name="Email" required><br>

	<label class="control-label" for="DiagnosisAnswer">
		What is the most likely diagnosis?
		<span style="color:#C0C0C0">(Please specify one diagnosis only.)</span>
	</label>
	<input type="text" name="DiagnosisAnswer"><br>

	<label class="control-label" for="Explanation">
		Explanation 
		<span style="color:#C0C0C0">(We'll pick the best explanations and post them for each week)</span>
	</label>
	<textarea name="Explanation"></textarea><br>

	<label class="control-label" for = "Date">
	</label>
	<input type="hidden" name="Date" value=<%- Case.Date %>>
	
	<input class="btn" type="submit">


</form>
</div>
