<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Whoops | CaseAce</title>
<% include header.ejs %>
<% include navbar.ejs %>

<div class="container">

<p><%= errorMessage %></p>
<a href="mailto:neal@caseace.org">Contact us</a> if you need help

</div>

<% include footer.ejs %>