<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CaseAce | Medical Case Challenges</title>
<% include header.ejs %>
<% include navbar.ejs %>

 <div class="container" style="padding-left:65px">
    	 <div>
                <h2>Select your case community</h2>
                <table>
                <tr>
                <td>
                      <a class="btn btn-large" href="/UCSFMS1s/currentcase">UCSF MS1s</a>
                </td>
                <td style="padding-left:25px">
                </td>
                <td>
                      <a class="btn btn-large" href="/UCSFMS2s/currentcase">UCSF MS2s</a>
                </td>
                <td style="padding-left:25px">
                </td>
                <td>
                      <a class="btn btn-large" href="/StanfordMS/currentcase">Stanford MS</a>
                </td>
                <td style="padding-left:25px">
                </td>
                <td>
                      <a class="btn btn-large" href="/test/currentcase">Test Demo</a>
                </td>
                </tr>
                </table>
    	</div>
        <div>
        <br>
        <i class="icon-comment"></i>
        <b>Engage</b>
    		in interesting and real clinical cases each week
    	</div>
        <div>
    		<i class="icon-star"></i>
            <b>
    		Earn points</b>
    		for submitting correct answers
    		<br>
    	</div>
    	<div>
    		<i class="icon-thumbs-up"></i>
            <b>
    		Track your progress</b>
    		in solving more cases
    		<br>
    	</div>
        <div>
        <br>
        <a href="/submitCase">
        Want to submit a case?
        </a>
        <br>
        <a href="mailto:neal@caseace.org">Email</a> us with any questions, comments, feedback.    	
        </div>
    </div>
    

<% include footer.ejs %>



