<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>TITLE</title>

        <!-- Le styles -->
        <link href="/admin/public/css/bootstrap.css" rel="stylesheet">

        <link href="/admin/public/css/bootstrap-responsive.css" rel="stylesheet">




    </head>
    <body>
  
        <div class="container">        
            <div class="row span12">
                    <%- body %>
            </div>
        </div>

        <hr>
        <footer>
          <p>&copy; Agile Diagnosis, Inc. 2012</p>
        </footer>

    </body>
</html>