<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Past Clinical Cases | CaseAce</title>
<% include header.ejs %>
<% include navbar.ejs %>
<div class="container">


<% Cases.forEach(function(Case) { %>
<i class="icon-briefcase"></i>  <a href="/<%=community%>/getCase/<%=Case._id%>"><%= Case.Date %></a>: <%= Case.Diagnosis %><br>
<% }); %>


</div>

<% include footer.ejs %>
