<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Clinical Case Removed | CaseAce</title>
<% include header.ejs %>
<% include navbar.ejs %>


<div class="container">

<p>Removing a Case from the database cannot be undone!</p>

<form action="/<%=community%>/removeCaseAction" method="POST">

	<input type="hidden" name="caseID" value=<%=caseID%>>	
	<input class="btn" type="submit" value="Permanently Delete Case">

</form>

</div>

<% include footer.ejs %>