<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Store Clinical Case Solver | CaseAce</title>
<% include header.ejs %>
<% include navbar.ejs %>

<div class="container">

<form action="/<%=community%>/storeSolversAction" method="POST">

	<input type="hidden" value=<%=Date%> name="Date"><br>	

	<label class="control-label" for="StudentWithExplanation">
	Username of the student whose explanation you'd like to display
	</label>
	<input type="text" name="StudentWithExplanation"><br>

	<label class="control-label" for="StudentExplanation">
	Student's Explanation
	</label>
	<textarea name="StudentExplanation"></textarea><br>

	<input class="btn" type="submit">

</form>

</div>

<% include footer.ejs %>