<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Submit Medical Case | CaseAce</title>
<% include header.ejs %>
<% include navbar.ejs %>

<div class="container">

<p>We'll work with you to polish a case. <br>  
Cases are attributed to their author and featured for an upcoming case challenge <br>
<a href="mailto:neal@caseace.org">Email</a> us with a summary of your case </p>
</div>

<% include footer.ejs %>