<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Success | CaseAce</title>
<% include header.ejs %>
<% include navbar.ejs %>

<div class="container">

<p><%= successMessage %></p>

</div>

<% include footer.ejs %>