<% include header.ejs %>
<% include navbar.ejs %>
<div class="container">

<% Cases.forEach(function(Case) { %>
<i class="icon-briefcase"></i>  <a href="/<%=community%>/viewCaseList/<%=Case._id%>"><%= Case.Date %></a>: <%= Case.Diagnosis %><br>
<% }); %>


</div>

<% include footer.ejs %>